ul li a{text-decoration: none;}
.fa-bars{font-size: 1.8em;}
.fa-xmark{font-size: 1.8em;}
#marks{display: none;}
#menu-desktop{display: none !important;}
#menu-mobile{display: block ;}
#hamburger{display: none;}
#nav button{background: transparent; border: 0;}
#nav img{
    width: 70px;
    height: 45px;
    margin-left: 50px !important;
} 

#lan li{
    background: transparent;
    display: inline-block;
    border-radius: 7px;
    padding: 3px 7px;
    margin: 1px;
    border: 1px solid rgb(111, 11, 187);
}

#sections p{
    text-align: center;
    padding: 6px 40px;
    border: 1px solid rgb(111, 11, 187);
    border-radius: 10px;
    color: rgb(111, 11, 187);
}
#ferdi{background-color: rgb(111, 11, 187); color: #fff !important;}
.accordion-body ul{padding: 8px 0 !important;}
.accordion-body a{color: #6f6f6f;}
#additional, #info a{color: #6f6f6f;}
#additional, #info h5{color: rgb(111, 11, 187);}
#lan li a{color: rgb(111, 11, 187); font-weight: 500;}
#icons{margin-left: 20%;}
#icons img{height: 40px !important; width: 40px !important; margin-left: 10px;}
.swiper {width: 90%; height: 300px; margin-top: 30px;}
    .swiper-slide {
      position: relative;
      text-align: center;
      border-radius: 20px;
      font-size: 18px;
      background: #fff;
      
    }
    #slider-text{
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        text-align: start;
        flex-direction: column;
      }
      .swiper-pagination-bullet {
        background-size: 0;
        transform-origin: left;
        transition: 0.8s;
    }
    
    .swiper-pagination-bullet-active {
        background-size: 100%;
        width: 25px;
        border-radius: 8px;
        background-color: #6f0bbb;
        transform: scaleX(1);
        transition: 0.8s;
    
    }
  #slide-1{background: url(../img/slide1-mobile.jpeg)center/cover;}
  #slide-2{background: url(../img/slide2-mobile.jpeg)center/cover;}
  #slide-3{background: url(../img/slide3-mobile.jpeg)center/cover;}
  #slide-4{background: url(../img/slide4-mobile.jpeg)center/cover;}
  #slider-text a{display: none;}  
  #slider-text p{display: none;}
  #cards-atb{
      flex-wrap: wrap !important;
      margin: auto;}
  .card{
    background: linear-gradient(180deg,#f0f5fb 0%,#f8f0fe 100%);
    border-radius: 20px;
    border: none;
    margin: 10px;
}  
  .card svg{height: 50px; margin: 40px 0 0 20px;}
  
  /*section none*/
  
  #emaneth3{display: none;}
  #section-2-first-place{
    padding: 40px 20px;
    background: #F3F3F3;
    border-radius: 15px;
  }
  #separate{display: flex;}
  #separate button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
  }
  #nagd{background: #6f0bbb; color: #fff;}
  #calculate-1{
    background-color: #fff; 
    padding: 15px 15px 10px 15px;
    border: 1px solid #6f0bbb;
    border-radius: 10px;
  }
  #calculate-2{
    background-color: #fff; 
    padding: 15px 15px 10px 15px;
    border: 1px solid #6f0bbb;
    border-radius: 10px;
  }
  .border{
    border:2px solid #BBB !important;
    border-radius: 50%;
    padding: 10px 15px;
    background: transparent;
  }
  .border i{color: #BBB;}
  #calculate-azn-1{ padding-left:  20px !important;}
  #faiz{display: block !important;}
  #rng1{display: none;}
  #rng2{display: none;}
  #calculate-azn-2{ padding-left:  20px !important;}
  #calculate-1 input{background: transparent; border: 0; outline: none;}
  #aznd{display: none;}
  #ild{display: none;}
  #calculate-1 p{font-size: .7em; width: 100%;}
  #calculate-2 input{background: transparent; border: 0; outline: none;}
  #calculate-2 p{font-size: .7em;}
  .calculate-btn-plus {
      margin-left: auto;
      border-radius: 50%;
      border: none;
  }
  #section-2-first-place{width: 100%;}
  #faiz{padding: 20px 0;}
  #faiz p{font-size: 1.5em;}
  #faiz-desktop{display: none;}
  #btn{
    margin-top: 40px;
    min-width: 170px;
    min-height: 50px;
    padding: 12px 10px 14px !important;
    border-radius: 10px;
    border: 0;
    background: #6f0bbb;
    color: #fff;
  }
  #deyer{
    margin-left: auto;
    font-size: 1.5em;
    color: #6f0bbb;
    font-weight: 500;
  }
  #qiymet{
    margin-left: auto;
    font-size: 1.5em;
    color: #6f0bbb;
    font-weight: 500;
  }
  #section2second{display: none;}
  #section-2-second-place{background: #F3F3F3; border-radius: 10px; padding: 20px;}
  #section-2-second-place select{
    margin: 10px 0;
    width: 100%;
    padding: 18px 45px 17px 14px;
    background: #fff;
    border: 1px solid #6f6f6f;
    border-radius: 10px;
  }
  #section-2-second-place input{    
    margin: 10px 0;
    width: 100%;
    padding: 18px 45px 17px 14px;
    background: #fff;
    border: 1px solid #6f6f6f;
    border-radius: 10px;}
  #section-2-second-place-text{
    padding: 30px 0;
    border: 1px solid #6f0bbb;
    border-radius: 10px;
    height: auto;
    text-align: center;
    width: auto;
    margin-bottom: 20px;
  }
  #section-2-second-place-text p{margin: 0; font-size: 1.4em; color: #6f0bbb;}
  #section-2-second-place{display: flex; flex-direction: column;}
  #section-2-second-place  button{ margin: auto;}
  #nav{
    padding: 20px 0 !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #fff;
  }
  .swiper{
    margin-top: 100px !important;
  }
            #head-mezenne{padding-left: 40px;}
            #mezenne-qiymet{
              margin-right: 20px; 
              width: 100%;     
              padding: 30px 20px;
              background: rgba(239, 243, 238, .91);
              border-radius: 15px;}
            #mezenne-qiymet td{ font-size: 1.3em; width: 150px; padding: 7.5px 5px; text-align: center;}
            #mezenne-qiymet th{text-align: center;}
            #mezenne-hesabla h2{padding: 10px 20px;}
            #mezenne-hesabla{ margin-top: 30px; width: 100%; background: rgba(239, 243, 238, .91); height: 220px; border-radius: 15px;}
            #hesabla-inputs{display: flex; justify-content: space-around;width: 90%; margin: auto;}
            #hesabla-inputs input{border: none; outline: none; width: 50px;}
            #hesabla-inputs select{  margin-left: 15px; border: none;}
            .fa-arrow-right{font-size: 2em; color: #6f0bbb; margin-top: 25px;}
            #include{ background-color: #fff; width: 150px; margin-top: 20px; padding: 10px 5px; border-radius: 10px; border: 1px solid #6f6f6f;}
            #exclude{ background-color: #fff; width: 150px;  margin-top: 20px; padding: 10px 5px; border-radius: 10px; border: 1px solid #6f6f6f;}
            #icon-arrow{padding: 0 20px;}
            #nagd svg{display: none;}
            #emanet svg{display: none;}
            #four-cards{display: flex !important;}
            .four-card{
                background: #f5eee8;
                width: 50vw;
                margin: 5px;
                border-radius: 15px 15px 15px 0;
            }
            .four-card #news-block{display: none; }
            .post-time{margin: 0;}
            #four-cards{margin: 50px 0 !important;}
            .four-card{position: relative;}
            .four-card::after{
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(100%);
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 22px 22px 0 0;
                border-color: #f5eee8 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) ;
            }
            .four-card h5{
                font-size: 1em;
                padding: 20px;
            }
            #four-card4{
                height: 200px !important;
            }
            #four-card4 svg{
                margin: 30px;
                transition: ease-in-out .3s;
            }
            #four-card4 svg:hover{
                transform: translateX(20px);
            }
            #four-card3, #four-card4{display: none;}
            .post-time{
                padding: 0 30px;
                font-size: .8em;
                font-style: italic;
                line-height: 2;
            }
            #news-block{padding: 0 30px 30px 30px;}
            #head{position: fixed ; 
                top: 0; 
                right: 0; 
                left: 0;
                background-color: #fff;
                z-index: 2;
            }
            #four-card3{display: none !important;}
            #four-card4{display: none !important;}

  @media only screen and (max-width: 1170px) {
    .four-card #news-block{display: none !important; }
    .card{
      width: 380px !important;
      height: 250px;
      
    }
    #section-4{display: none !important;}
}
  @media only screen and (min-width: 1285px) {
    #menu-desktop{display: block !important; width: 80%;}
    #menu-mobile{display: none ;}
    .card-1:hover{
      box-shadow: 0 30px 35px rgba(0,0,0,.1);
      transform: translateY(-25px);
      transition: ease-in-out .3s;
    }
  }
  
@media only screen and (min-width: 768px) {
    #menu-desktop{
        position: absolute;
        top: 0;
        z-index: 2;

    }
    #nav-desktop-1 img{
            width: 90px ;
            height: 60px ;
        }
        #nav-desktop-1 ul{margin: auto;}
        #nav-desktop-1 ul li{display: inline-block; padding-left: 10px;}
        #nav-desktop-1 ul li a{color: black;}
        #first-ferdi{font-weight: bold; color: rgb(111, 11, 187) !important;}
        #nav-desktop-1 ul li a:hover{color: rgb(111, 11, 187); transition: all .5s;}
        #atb360{
            padding: 8px 10px; 
            background: linear-gradient(87.61deg, #6f0bbb -5.3%, #be9bd8 158.9%);;
            color: #fff; 
            margin: auto;
            border-radius: 10px;
            font-weight: bold;
        }
        #nav{position: relative;}
        #credit:hover #kredit-hover-menu{
          display: block !important; 
          z-index: 5;
        }
        #kredit-hover-menu{
          width: 500px;
          height: 150px;
          position: absolute;
          display: none;
          top: 60px;
          left: 110px;          
}
       .hover-menu-ul{
        text-align: left;
        background-color: #FFF;
          border: 1px solid #6f6f6f;
          border-radius: 15px;
          padding: 25px 0;
          display: flex;
          
        }
       .hover-menu-ul a{color: #6f6f6f;}
       .hover-menu-ul-1 li a{font-size: .8em; font-weight: 500;}
       .hover-menu-ul-1 h5{margin-left: 10px; font-size: 1.3em;}
       .hover-menu-ul-2 h5{margin-left: 10px;font-size: 1.3em;}
       .hover-menu-ul-2 li a{font-size: .8em; font-weight: 500;}
       .hover-menu-ul-1{
          border-right: 1px solid #6f6f6f;
          padding-right: 50px;
        }
        .hover-menu-ul-2{
          margin-left: 20px !important;
          padding-right: 50px !important;
        }
        #kartlar:hover #kartlar-hover-menu{
          display: block !important; 
          z-index: 5;
        }
        #kartlar-hover-menu{
          width: 600px;
          position: absolute;
          display: none;
          top: 60px;
          left: 110px;
}
     
        #ipoteka:hover #ipoteka-hover-menu{
          display: block !important; 
          z-index: 5;
        }
        #ipoteka-hover-menu{
          position: absolute;
          display: none;
          top: 60px;
          left: 110px;
          width: 671px;
          
}
    #emanetler:hover #emanetler-hover-menu{
      display: block !important; 
      z-index: 5;
    }
    #emanetler-hover-menu{
      width: 500px;
      position: absolute;
      display: none;
      top: 60px;
      left: 110px;
    }
    #online:hover #online-hover-menu{
      display: block !important; 
      z-index: 5;
    }
    #online-hover-menu{
      width: 500px;
      position: absolute;
      display: none;
      top: 60px;
      left: 110px;
    }
    #diger:hover #diger-hover-menu{
      display: block !important; 
      z-index: 5;
    }
    #diger-hover-menu{
      width: 500px;
      position: absolute;
      display: none;
      top: 60px;
      left: 110px;
    }
       
        #nav-desktop-2 #language{
            background: transparent; 
            color: rgb(111, 11, 187);
            padding: 8px 10px;
            margin: auto;
            border: 1px solid rgb(111, 11, 187);
            border-radius: 10px;
        }
        .fa-phone{color: #000;}
        .swiper {
            width: 100%;
            height: 55vh;
            margin: 0 !important;
          }
        .swiper-slide{border-radius: 0;}
        #slide-1{background: url('../img/slide1.jpeg')60%/cover;}
        #slide-2{background: url('../img/slide2.jpeg')60%/cover;}
        #slide-3{background: url('../img/slide3.jpeg')60%/cover;}
        #slide-4{background: url('../img/slide4.jpeg')60%/cover;}
        #slider-text{
                    
                    margin-top: 7%;
                    margin-left: 12%;
                    text-align: start;
        }
        #slider-text h2{font-size: 2.5em;}
        #slider-text a{
            display: block;
            width: 175px;
            height: 50px;
            padding: 10px;
            margin-top: 10px;
            text-align: center;
            background-color: rgb(111, 11, 187);
            color: #fff;
            border: none;
            border-radius: 10px;
            text-decoration: none;
          }
          
          #slider-text p{display: block;}
          #cards-atb{display: flex; justify-content: center;}
          .card{
            width: 250px;
            height: 250px;
          }
          #select-all{display: flex;}
          #section-2{max-width: 70% !important;}
          #separate{ height: 70%;  justify-content: center; margin: auto;}
          #nagd{width: 30%; max-height: 90px !important; margin-right: -8px !important; border-radius: 15px 0 0 15px !important; font-size: .8em;}
          #nagd svg{display: inline; width: 40px !important;}
          #emanet svg{display: inline;  width: 40px !important;}
          #emanet{ width: 30%; max-height: 90px !important; border-radius:  0 15px 15px 0  !important;font-size: .8em;}
          #select{ width: 80%;}
          #select input{max-width: 40% !important;}
          #odenilme{margin-right: 20px !important;}
          #section-2-second-place-text{width: 30%; margin-left: auto; margin-top: auto;}
          #section-2-second-place #select-all select{max-width: 40%;}
          #date{margin-left: 20px !important;}
          #btn{margin-top: 20px !important;}
          #section-2-first-place{width: 70%;}
          #calculate-1{position: relative;}
          #calculate-2{position: relative;}
          #calculate-2 button{display: none; }
          #calculate-1 button{display: none; }
          #faiz{display: none !important;}
          #calculate-azn-1{display: flex;  width: 100%;}
          #azn{text-align: right;}
          #calculate-azn-2{display: flex; justify-content: space-between; width: 100% !important;}
          #il{text-align: right;}
          #rng1{
            position: absolute;
            bottom: -10px;
            display: block;
            width: 95%;
            left: 10px;
            right: 10px;
          }
          #rng2{
            position: absolute;
            bottom: -10px;
            display: block;
            width: 95%;
            left: 10px;
            right: 10px;
          }
          #faiz-desktop{
            border: 1px solid #6f0bbb;
            border-radius: 10px;
             margin-left: 30px;
             padding: 30px;
             display: flex;
              flex-direction: column; 
              justify-content: space-around;}
          #derece-desktop{display: flex;}
          #ayliq-odenis{margin-left: 50px;}
          #azn{display: none;}
          #il{display: none;}
          #aznd{ display: block; text-align: right;}
          #ild{ display: block; text-align: right;}
          #deyerm{
            margin: auto;
            font-size: 1.5em;
            color: #6f0bbb;
            font-weight: 500;}
          #qiymetm{
            margin: auto;
            font-size: 1.5em;
            color: #6f0bbb;
            font-weight: 500;}
            #mezenne{display: flex;justify-content: space-between;}
            #head-mezenne{padding-left: 40px;}
            #mezenne-qiymet{
              margin-right: 20px; 
              width: 50%;     
              padding: 30px 20px;
              background: rgba(239, 243, 238, .91);
              border-radius: 15px;}
            #mezenne-hesabla{ margin-left: 20px; margin-top: 0; width: 50%;}
            #hesabla-inputs{display: flex; justify-content: space-around;width: 90%; margin: auto;}
            #section-4{display: flex; justify-content: space-between;}
            #card-4-first, #card-4-second{width: 50%;}
            #card-4-first{
              position: relative;
              justify-content: space-between;
              background: #4B99D217;
              border-radius: 20px;
              border: none;
              margin: 10px;
            }
            #card-4-second{
              background: linear-gradient(90deg, #000000 0%, #88888888 50%);
              border-radius: 20px;
              border: none;
              margin: 10px;
            }
            .card img{
              max-width: 250px;
              position: absolute;
              right: 20px;
              top: 20px;
            }
            #qara-text{color: #fff;}
            #cardbtn1{
              border: none;
              border-radius: 10px;
              background-color: #F4C900;
              color: #6f0bbb;
              width: 175px; 
              height: 45px; 
              padding: 5px; 
              font-size: 1.2em;
            }
            #cardbtn2{
              border: none;
              border-radius: 10px;
              background-color: #000;
              color: #fff;
              width: 175px; 
              height: 45px; 
              padding: 5px; 
              font-size: 1.2em;
            }
            .four-card #news-block{display: block !important; }
            #four-card3{display: block !important;}
            #four-card4{display: block !important;}
            .four-card h5{
              font-size: 1.3em;
          }
          }
